<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="false" />
    <httpHandlers>
      <add path="download" verb="POST" type="ZoomCharts.ProxyEcho.ProxyHandler, ZoomCharts.ProxyEcho"/>
    </httpHandlers>
    <httpRuntime maxRequestLength="30720" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.html"/>
      </files>
    </defaultDocument>
    <handlers>
      <add name="ProxyHandler" path="download" verb="POST" type="ZoomCharts.ProxyEcho.ProxyHandler, ZoomCharts.ProxyEcho"/>
    </handlers>
    <security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="31457280" />
      </requestFiltering>
    </security>    
  </system.webServer>
</configuration>