<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="false" />
    <httpHandlers>
      <add path="download" verb="POST" type="ZoomCharts.ProxyEcho.ProxyHandler, ZoomCharts.ProxyEcho"/>
    </httpHandlers>
    <httpRuntime maxRequestLength="1048576000" />
  </system.web>
</configuration>
